.expenses {
  background-color: #1f1f1f;
  border-radius: 12px;
  box-shadow: 0 1px 8px #00000040;
  margin: 2rem auto;
  max-width: 95%;
  padding: 1rem;
  width: 50rem;
  max-height: calc(100vh - 145px);
  margin-bottom: 5px;
}

.expenses-cover {
  height: -webkit-fill-available;
  overflow: auto;
  max-height: calc(100vh - 620px);
}

@media (min-width: 754px) and (max-width: 830) {
  .expenses-cover {
    max-height: calc(100vh - 609px);
  }
}

@media (min-width: 690px) and (max-width: 754px) {
  .expenses-cover {
    max-height: calc(100vh - 577px);
  }
}

@media (min-width: 618px) and (max-width: 690px) {
  .expenses-cover {
    max-height: calc(100vh - 543px);
  }
}

@media (min-width: 578px) and (max-width: 618px) {
  .expenses-cover {
    max-height: calc(100vh - 509px);
  }
}

@media (min-width: 525px) and (max-width: 578px) {
  .expenses-cover {
    max-height: calc(100vh - 501px);
  }
}

@media (min-width: 466px) and (max-width: 524px) {
  .expenses-cover {
    max-height: calc(100vh - 472px);
  }
}

@media (min-width: 200px) and (max-width: 465px) {
  .expenses-cover {
    max-height: calc(100vh - 442px);
  }
}